main, nav, {
  display: block;
}

canvas {
  display: inline-block;
  zoom: 1;
  border: 8pt solid #000;
}

h1 {
  font-size: 2em;
  margin-top: 15%;
  margin-bottom: 15%;
}

h2 {
  font-size: 1.5rem;
  margin: .83rem 0;
}


body {
  font-family: 'Comfortaa', serif;
  font-weight: lighter;
  font-size: 16pt;
  text-align: center
}

.middle {
  margin-left: auto;
  margin-right: auto;
}

.art-section {
  margin-top: 3em;
}

.controls {
  list-style: none;
}

.controls li {
  display: inline-block;
  margin-left: 2rem;
}

.controls label {
  font-size: 0.9rem;
  position: relative;
  top: -0.25rem;
}

#sec-title {
  margin-top: 10%;
  width: 90%;
}
.patrns-list {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.patrns-item {
  width: 10em;
  display: inline-block;
}

.hidden {
  display: none;
}

.shape {
  stroke: #101010;
  stroke-width: 3;
  fill: none;
}

/* Adding mobile stuff */
@media (max-width: 580pt) {
  h1 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .patrns-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%
  }
}
